


<div class="banner-innerpage" style="background-image: url(assets/images/landingpage/banner-bg2.jpg)">
   

<div class="navbar  navbar-expand-lg centre " id="h6-info">
    <ul class="navbar-nav ml-auto  align-items-center">


        <li class="nav-item" [routerLinkActive]="['active']">
            <a class="nav-link" routerLink="/">
                Home
            </a>
        </li>
        <li class="nav-item" [routerLinkActive]="['active']">
            <a class="nav-link" routerLink="/about">
                About
            </a>
        </li>
        <li class="nav-item" [routerLinkActive]="['active']">
            <a class="nav-link" routerLink="/publication">
                Post
            </a>
        </li>
        <li class="nav-item" [routerLinkActive]="['active']">
            <a class="nav-link" routerLink="/Trips">
                Trips
            </a>
        </li>
        <li class="nav-item" [routerLinkActive]="['active']">
            <a class="nav-link" routerLink="#">
                Contact Us
            </a>
        </li>
        <li class="nav-item">
            <a class="btn btn-success-gradiant font-14" routerLink="/">
                Login
            </a>
        </li>
        <li class="nav-item" style="margin-left: 5px;">
            <a class="btn btn-danger-gradiant font-14" routerLink="/">
                SignUp
            </a>
        </li>
    </ul>

</div> 

    <div class="container">
        
        <button class="btn btn-outline-success"  (click)="open(mymodal1)">Add Post</button>


        <ng-template #mymodal1 let-modal1>
            <!-- <div class="modal-header">
                <h4 class="modal-title" id="modal-basic-title">Add new Post</h4>
                <button type="button" class="close" aria-label="Close" (click)="modal1.dismiss('Cross click')">
                    <span aria-hidden="true" (click)="cancel()">×</span>
                </button>

            </div> -->
                <!-- <app-foorm (notificationaddpost)="Publicationaddc($event)" [Publicationaddc]="FormType">

                </app-foorm> -->

                <form class="center" [formGroup]="myForm" (submit)="add()">
                    <div class="row" class="col-md-6">
                        <input type="text" placeholder="Description ..." formControlName="description">
                    </div>
                
                    <div class="row" class="col-md-6">
                        <input type="text" placeholder="Title" formControlName="title" >
                    </div>
                    <div class="row" class="col-md-6">
                    <select formControlName="typepublication">
                        <option [ngValue]="" >General</option>
                        <option [ngValue]="">Personal_advice</option>
                        <option [ngValue]="">Opinion</option>
                        <option [ngValue]="">News</option>

                        </select>
                    </div>
                    <br>
                    <button type="submit" class="btn btn-success" >Add</button>
                    <button type="button" class="btn btn-info" >Cancel</button>
                </form>
        </ng-template>
        <div class="row justify-content-center">
            <table>
                <thead style="text-align: center;color: aliceblue;" class="table ml-2">
                    <th>
                        N
                    </th>
                    <th>
                        description
                    </th>
                    <th>
                        title
                    </th>
                    <th>
                        type publication
                    </th>
                    <th>
                        Action
                    </th>
                    <th>Delete</th>
                </thead>
                <tbody>

                    <tr *ngFor="let t of listpublications;let position=index;" style="text-align: center;">
                        <td>{{position+1}}
                        </td>
                        <td>{{t.description}}
                        </td>
                        <td>{{t.title}}
                        </td>
                        <td>{{t.typepublication}}
                        </td>
                       
                        <td>
                            <button class="btn btn-outline-primary" (click)="open(mymodal1)">edit</button>
 <td>
                            <button class="btn btn-outline-danger" (click)="deletePost(t.idp)">Delete</button>

                        </td>
                            <ng-template #mymodal1 let-modal1>
                                <div class="modal-header">
                                    <h4 class="modal-title" id="modal-basic-title">Edit Current Publication</h4>
                                    <button type="button" class="close" aria-label="Close" (click)="modal1.dismiss('Cross click')">
                                        <span aria-hidden="true" (click)="cancel()">×</span>
                                    </button>

                                </div>
                                <div class="center">
                                    <form>
                                        <div class="row" class="col-md-6">
                                            <input type="text" placeholder="Description ..." [(ngModel)]="t.description" [ngModelOptions]="{standalone : true}">
                                        </div>
                                        <div class="row" class="col-md-6">
                                            <input type="text" placeholder="Title ..." [(ngModel)]="t.title" [ngModelOptions]="{standalone : true}">
                                        
                                        
                                        <br>
                                        <button type="button" class="btn btn-success" (click)="PublicationupdatePost(t)" (click)="modal1.close('Save click')">Edit</button>
                                        <button type="button" class="btn btn-info" (click)="modal1.close()">Cancel</button>
                                    
                                </div>
                          
                           
                        

               
      
        <div class="row justify-content-center" style="margin-top: 10%;">

     
        </div>
