<br>
<br>
<br>
<br>
<section class="signup py-5 border-top-1">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-5 col-md-8 align-item-center">
                <div class="border">
                    <div class="center">
                        <h3 class="bg-gray p-4">Signup Ferst</h3>

                        <form>
                            <div class="row" class="col-md-6">
                                <i class="fa fa-user-circle" ></i><i style="color:rgb(0, 0, 0);font-weight: bold; ">  Name</i>
                                
                                <input type="text" placeholder="user Name" [(ngModel)]="user.name"
                                    [ngModelOptions]="{standalone : true}">
                            </div>
                            <div class="row" class="col-md-6">
                                <i class="fa fa-envelope-square" ></i><i style="color:rgb(0, 0, 0);font-weight: bold; ">  email</i>
                                
                                <input type="text" placeholder="user email" [(ngModel)]="user.email"
                                    [ngModelOptions]="{standalone : true}">
                            </div>
                            <div class="row" class="col-md-6">
                                <i class="fa fa-child" ></i><i style="color:rgb(0, 0, 0);font-weight: bold; ">  Username</i>
                                
                                <input type="text" placeholder="user username" [(ngModel)]="user.username"
                                    [ngModelOptions]="{standalone : true}">
                            </div>
                            <div class="row" class="col-md-6">
                                <i class="fa fa-lock" style="color:red;"></i><i style="color:rgb(0, 0, 0);font-weight: bold; ">  Password</i>
                                
                                <input type="password" placeholder="user password" [(ngModel)]="user.password"
                                    [ngModelOptions]="{standalone : true}">
                            </div>
                            <div class="row" class="col-md-6">
                                <i style="color:rgb(0, 0, 0);font-weight: bold; ">  Profession</i>
                                <input type="text" placeholder="user profession" [(ngModel)]="user.profession"
                                    [ngModelOptions]="{standalone : true}">
                            </div>
                            <div class="row" class="col-md-6">

                                <div>
                                    <input [(ngModel)]="user.roles.role" [ngModelOptions]="{standalone: true}"
                                        name="{{ role.role }}" type="checkbox" id="{{role.role}}"
                                        (change)="onChangeCategory($event, role)">
                                    <label class="form-check-label" for="{{role.role}}">
                                        {{role.role}}
                                    </label>ROLE_Company
                                    <br>
                                    <input [(ngModel)]="user.roles.role" [ngModelOptions]="{standalone: true}"
                                        name="{{ role.role }}" type="checkbox" id="{{role.role}}"
                                        (change)="onChangeCategory($event, role)">
                                    <label class="form-check-label" for="{{role.role}}">
                                        {{role.role}}
                                    </label>ROLE_Employee
                                </div>


                            </div>
                            <br>
                            <button type="button" class="btn btn-success" (click)="adduser(user)"
                                routerLink="/login">Add</button>
                            <button type="button" class="btn btn-info">Cancel</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>