<div class="topbar" id="top">
    <div class="header6">

        <div class="container po-relative">
            <nav class="navbar navbar-expand-lg h6-nav-bar">
                <a class="navbar-brand" routerLink="">
                    <img src="assets/images/logos/linkini.png" alt="linkini" style="width: 30%;" />
                </a>
                <div class="collapse navbar-collapse hover-dropdown font-14 ml-auto" id="h6-info">
                    <ul class="navbar-nav ml-auto  align-items-center">
                
                
                        <li class="nav-item" [routerLinkActive]="['active']">
                            <a class="nav-link" routerLink="/">
                                Home
                            </a>
                        </li>
                        <li class="nav-item" [routerLinkActive]="['active']">
                            <a class="nav-link" routerLink="/invitation">
                                About
                            </a>
                        </li>
                        <li class="nav-item" [routerLinkActive]="['active']">
                            <a class="nav-link" routerLink="send">
                                Forum
                            </a>
                        </li>
                        <li class="nav-item" [routerLinkActive]="['active']">
                            <a  class="nav-link" routerLink="/invitation">
                                invitation
                            </a>
                        </li>
                        <li class="nav-item" [routerLinkActive]="['active']">
                            <a class="nav-link" routerLink="/user">
                                user
                            </a>
                        </li>
                        <li class="nav-item" [routerLinkActive]="['active']">
                            <a class="nav-link" routerLink="/log">
                                Trips
                            </a>
                        </li>
                        <li class="nav-item" [routerLinkActive]="['active']">
                            <a class="nav-link" routerLink="/login">
                                Contact Us
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="btn btn-success-gradiant font-14" routerLink="/login">
                                Login
                            </a>
                        </li>
                        <li class="nav-item" style="margin-left: 5px;">
                            <a class="btn btn-danger-gradiant font-14" routerLink="/singup">
                                SignUp
                            </a>
                        </li>
                    </ul>
                
                </div>

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#h6-info" aria-controls="h6-info" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="ti-menu"></span>
                </button>


                <app-banner-navigation *ngIf="authService.isLoggedIn$ | async" class="ml-auto"></app-banner-navigation>

            </nav>
        </div>


    </div>
</div>